.canvass{
    border-radius: 5%;
    border: 1px solid black;
    width: 300px;
    height: 420px;
    background-color: dimgrey;
}
.fomular-bar{
    margin: -10px 0 0 10px;
    width: 280;
    height: 50px;
    border: 1px solid white;
    color: black;
    font-size: 25px;
    text-align: right;
}

.keys-section{
    margin: 10px 10px 0 10px;
    height: 270px;
}
button{
    height: 55px;
    width: 66.5px;
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 3px;
    font-size: 20px;
}

.extended{
    width: 137px;
}
.digit{
    background-color: black;
    color: white;
}

.other{
    background-color: grey;
    color: white;
}
h2
{
    margin-left: 10px;
    color: white;   
}
